.destinationsInfo {
  margin: 8rem 0;
  &__p {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    color: $silverDark;
  }
  &__details {
    @include align(flex, space-between, center, null);
    padding: 1.3rem 0;
    border-bottom: 1px dotted $silverLight-50;
    &__head {
      font-size: 1.4rem;
      color: $silverDark;
    }
    &__text {
      font-size: 1.4rem;
      color: $silverDark;
    }
  }
}
