.toggle-open {
  @include position(fixed, 4rem, null, null, 3rem, null, null);
  cursor: pointer;
  z-index: 5;
  @include large {
    right: 5rem;
  }
  @include medium {
    right: 4rem;
  }
  @include small {
    right: 2rem;
  }
  @include xsmall {
    right: 1.5rem;
  }
  span:nth-child(1) {
    @include toggleSpan($main2, 3rem, 0.3rem, null);
  }
  span:nth-child(2) {
    @include toggleSpan($main2, 3rem, 0.3rem, 0.5rem);
  }
  span:nth-child(3) {
    @include toggleSpan($main2, 3rem, 0.3rem, 0.5rem);
  }
}

.toggle-close {
  @include position(fixed, 4rem, null, null, 3rem, null, null);
  cursor: pointer;
  z-index: 5;
  @include large {
    right: 5rem;
  }
  @include medium {
    right: 4rem;
  }
  @include small {
    right: 2rem;
  }
  @include xsmall {
    right: 1.5rem;
  }
  span:nth-child(1) {
    @include toggleSpan($main2, 3rem, 1.5px, null);
    transform: rotate(-45deg) translateY(0.5rem);
  }
  span:nth-child(2) {
    display: none;
  }
  span:nth-child(3) {
    @include toggleSpan($main2, 3rem, 1.5px, 0.5rem);
    transform: rotate(45deg) translateY(-0.5rem);
  }
}
