// Config Color for SCSS

$black: #000000;
$blackDark: #1c1d1f;
$white: #ffffff;
$main1: #ff4d58;
$main2: #df2189;
$silver: #7f8c8d;
$silverLight: #aaa;
$silverDark: #777;
$silverLight-50: #d4cfcf;
$silverLight-45: #e2e4eb;
$silverLight-40: #f6f6fb;
$orange: #fbbf24;
$green: #34d399;
